<div class="d-flex justify-content-end mb-2">
    <%= link_to "Create new", new_listing_path, class: "btn btn-primary" %>
</div>

<div class="d-flex flex-wrap justify-content-around mt-2">
    <% @listings.each do |listing| %>
    <div class= "card m-3", style= "width 15rem">
        <% if listing.picture.attached? %>
        <%= image_tag listing.picture, class: "card-img-top", style: "width: 250px; height: 250px;" %>
    <% else %>
        <%= image_tag "placeholder-avatar.png", class: "card-img-top", style: "width: 250px; height: 250px;" %>
    <% end %>
    <hr>
        <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="font-weight-bolder"><%= number_to_currency(listing.price, precision: 0) %></p>
            <%= link_to "show", listing_path(listing.id), class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
</div>