<h1><%= @listing.title %></h1>
<h2>Price</h2>
<%= number_to_currency(@listing.price, precision: 0) %>
<h2>Brand</h2>
<%= @listing.brand.name %>
<h2>Category</h2>
<%= @listing.category.name %>
<h2>Condition</h2>
<%= @listing.condition.name %>
<h2>Description</h2>
<%= @listing.description %>
<% if @listing.picture.attached? %>
<%= image_tag @listing.picture %>
<% end %>

<% if current_user.id == @listing.user_id %>
    <%= link_to "Edit", edit_listing_path(@listing) %>
    <%= link_to "Remove listing", listing_path(@listing.id), data: { toggle: "modal", target: "#RemoveListingModal" }, class: "btn btn-danger" %>
    <!-- Modal -->
      <div class="modal fade" id="RemoveListingModal" tabindex="-1" role="dialog" aria-labelledby="RemoveListingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="RemoveListingModalLabel">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              Are you sure you want to remove this listing?
            </div>

            <!-- Delete button in the footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <%= link_to "Delete", listing_path(@listing.id), method: :delete, class: "btn btn-danger" %>
            </div>
        </div>
      </div>
    </div>
</div>
<% end %>
