<div class="main-container container">
    <h2>Selling</h2>
</div>

<div class="container">
<% if @listings.exists? %>

        <div class="row">
            <div class="col font-weight-bold">Date Posted</div>
            <div class="col font-weight-bold">Price</div>
            <div class="col font-weight-bold">Title</div>
            <div class="col font-weight-bold">Status</div>
            <div class="col font-weight-bold">Date sold</div>
            <div class="col font-weight-bold">Reference</div>
        </div>
    <% @listings.each do |listing| %>
        <div class="row">
            <div class="col">
                <%= listing.created_at.strftime("%Y/%m/%d %H:%M") %>
            </div>
            <div class="col">
                <%= number_to_currency(listing.price, precision: 0) %>
            </div>
            <div class="col">
                <%= listing.title %>
            </div>
            <div class="col">
                <% if listing.purchase %>
                    <%= "Sold" %>
                <% else %>
                    <%= "Active" %>
                <% end %>
            </div>
            <div class="col">
                <% if listing.purchase %>
                    <%= listing.purchase.created_at.strftime("%Y/%m/%d %H:%M") %>
                <% else %>
                    <%= "--" %>
                <% end %>
            </div>
            <div class="col">
                <%= link_to "view", listing_path(listing) %>
            </div>
        </div>
    <% end %>
<% else %>
    <%= "You haven't listed anything to sell." %>
<% end %>
</div>

