<div class="container ml-auto mt-3">
    <div class="row">
    <h1><%= @listing.title %></h1>
    </div>
    <div class="row">
        <div class="col">
        <% if @listing.picture.attached? %>
            <%= image_tag @listing.picture.service_url %>
        <% end %>
        </div>
    
    <div class="col">
        <div class="mb-3">
            <h2 class="font-weight-bold mb-3"><%= number_to_currency(@listing.price, precision: 0) %></h2>
        </div>
        <div class="mb-2">
            <p><%= @listing.brand.name %> - <%= @listing.category.name %><p>
        </div>
        <div class="mb-2">
            <h5>Condition:</h5> 
            <%= @listing.condition.name %>
        </div>
        <div class="mb-2">
            <h5>Description:</h5>
            <%= @listing.description %>
        </div>
        <% if current_user.id != @listing.user_id && @listing.purchase == nil %>
        <div class="mb-2">
          <button data-stripe="payment" class="btn btn-primary">Purchase</button>
        </div>
        <% end %>
        <% if @listing.purchase != nil %>
        <div class="mb-2">
          <button class="btn btn-danger disabled">SOLD</button><br>
          <small class="text-muted"><%= @listing.purchase.created_at.strftime("%Y/%m/%d %H:%M") %></small>
        </div>
        <% end %>
    </div>
</div>